.dashboard
{
  border: 1px solid black;
  background-color: #007bff;
  .row{
        .card
        {
          background-color: yellowgreen;
          &:hover
          {
            box-shadow: 0 0 11px rgba(33,33,33,.2);
          }

        }
      }

}
.footer
{
  border: 1px solid black;
  border-top: 0;
  background-color:yellowgreen;
}
.card-img, .card-img-top{
  border-bottom: 1px solid beige;
  height: 10rem;
}
.card-title, .btn-primary{
  text-transform: capitalize;
  color: white;
}

